body{
  overflow-x:hidden;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    color: #004c88;
    font-weight: 500;
    font-size: 14px;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color:#004c88;
    outline: 0;
    box-shadow: none;
}


.bg-light {
    background-color: #ffffff !important;
}


.cover{
  position: relative;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 2px #222222;
}

.cover::before{
  content: "";
  background-image: url('/assets/img/cover.jfif');
  background-size: contain;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.85;
}


.btn-default{
  color: #fff;
  background-color: #004c88;
  border-color: #004c88;
}

.btn-default:hover{
  color: #fff;
  background-color: #004c88;
  border-color: #004c88;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: .2rem;
    margin-bottom: 0.4rem;
    color: #004c88;
}


.search{
  border: 2px solid #004c88;
  padding: 18px;
  font-size: 18px;
  font-weight: 500;
}


.navbar-light .navbar-nav .nav-link {
    color: #004c88;
}

.categories{
  margin-top:60px !important;
  margin-bottom:48px;
  background: #f0f0f0;
}


#products{
  background: #fff;
  padding-top: 48px;
  padding-bottom: 48px;
}

#products .card{
  margin-bottom:12px;
  margin-top:12px;
}

.card-title{
  color: #004c88;
}

#products .section-title{
  margin-bottom:18px;
}

@media (min-width: 992px){
  .navbar-expand-lg {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start !important;
  }

  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}
}

.mobile-only{
  display: none;
}

.desktop-only{
  display: block;
}

.logo{
  dth:230px;
}

@media (max-width: 600px){
  .mobile-only{
    display: block;
  }

  .desktop-only{
    display: none;
  }

  .nav-link {
    display: block;
    padding: 0.5rem .5rem;
    text-transform: uppercase;
    color: #004c88;
    font-weight: 500;
    font-size: 12px;

}

.justify-content-end {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.justify-content-start {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.logo{
  width:180px;
}

.fa, .fas {
    font-weight: 900;
    font-size: 12px;
}

.card-title {
    color: #004c88;
    font-size: .85rem;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    margin: 24px 0 0 0;
}

}


section
{
  padding:4%;
  background:#7e8890;
}
h2,h6
{
  color:#e6e6e6;
}
.form-subscribe
{
  max-width:600px;
  margin:0 auto

}
.form-subscribe .form-control
{
  background-color:hsla(0,0%,100%,.8);
  padding-left:24px;
  padding-right:24px;
  letter-spacing:1px;
  border:none;
  border-top-left-radius:36px;
  border-bottom-left-radius:36px;
  height: 50px;
}
.form-subscribe .form-control.focus,.form-subscribe .form-control:focus
{
  z-index:2;
  background-color:hsla(0,0%,100%,.8)
}
.form-subscribe .btn
{
  border-top-right-radius:36px;
  border-bottom-right-radius:36px;
  background:#7ec855;
  border-color:#7ec855;
  height:50px;
}


.text-primary {
    color: #004c88!important;
}



/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

/* Credit to https://bootsnipp.com/snippets/bxDBA */


.checked {
  color: orange;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.product-card:hover{
  box-shadow: 0px 0px 5px #222;
  width: 100%;
  border:none;
}

.product-card:hover .card-title{
  animation: mymove 1s;
}

@keyframes mymove {
  50% {font-size: 28px;}
}

.search-button {
    padding: 4px 20px;
    background: #004c88;
    border-color: #004c88;
    text-transform: uppercase;
    margin-left: -60px;
    border-radius: 45px !important;
    margin-top: 10px;
    font-weight: 600;
    color: #f0f0f0 !important;
    z-index: 999999 !important;
}

.search-box {
    padding: 6px 24px;
    border-radius: 45px !important;
    margin-top: 4px;
}

.section-title{
  margin-bottom: 12px;
  margin-top: 12px;
  text-transform: uppercase;
  border-radius: 6px;
  background-image: url('https://allfreedesigns.com/wp-content/uploads/2011/12/denim-textures-3.jpg');
  background-position:center center;
  background-repeat: repeat-x;
  background-size: contain;
  color:white;
  text-shadow:0 0 10px #222;
  padding:4px 8px;
}

@media (max-width:1600px){
	.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    color: #004c88;
    font-weight: 500;
    font-size: 12px;
}
}
